body{
    background-color: #f4f1d8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    width: 100px;
    margin-bottom: 20px;    
}

h3{
    color: #1d3dc7;
}

h1{
    text-align: center;
}

p{
    color: #000000;
    text-align: center;
}

.login{
    padding: 20px;
    width: 300px;
}

label{
    display: inline;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #B2DFDB;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #004D40; 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
}

button:hover {
    background-color: #00796B;
}

.links {
    text-align: center; 
    margin-top: 15px; 
}

a {
    color: #004D40;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}