body{
    background-color: #f4f1d8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    width: 100px;
    margin-bottom: 20px;    
}

h3{
    color: #1d3dc7;
    margin: 0%;
}

h1{
    text-align: center;
    margin: 5px;
}

p{
    color: #000000;
    text-align: center;
}

.login, .registro{
    padding: 20px;
    width: 300px;
}

label{
    display: inline;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #B2DFDB;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #004D40; 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
}

button:hover {
    background-color: #00796B;
}

.links {
    text-align: center; 
    margin-top: 15px; 
}

a {
    color: #004D40;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

/*CSS para el cabezal saludo de la pagina index,
se puede reutilizar para el menu hamburgesa*/
.saludo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 5px 0px 0px 0px;
}

.saludo div{
    display: flex;
}

.saludo img{
    padding-top: 20px;
    width: 50px;
    height: 50px;
}

/*CSS para los titulos del menu admin*/
.index h1{
    margin: 0;
}

.index div h2{
    margin: 5px 0px 0px 0px;
    text-align: center;
}

/*CSS boton mediano*/
.medio{
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    width: 50%;
}

.index a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*CSS boton para salir de la pagina*/
.salir{
    background-color: red;
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    width: 50%;
}

/*CSS boton tabla eliminar*/
.botTabla{
    background-color: rgb(189, 57, 40);
}

.botTabla:hover{
    background-color: rgb(255, 30, 0);
}

/*CSS boton tabla aceptar*/

.botAc{
    background-color: rgb(60, 192, 71);
}

.botAc:hover{
    background-color: rgb(0, 255, 0);
}

/*CCS para iconos de las tablas*/
.icono{
    width: 30px;
    height: 30px;
}

.usuario{
    width: 60px;
    height: 70px;
}

/*CSS para que todas las tablas sean iguales*/
table{
    background-color: lightgray;
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
}

.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CSS para las tablas con 3 datos*/
.tabla th:nth-child(1) {
  border: 1px solid black;
  width: 5%;
  height: 5%;
}

.tabla th:nth-child(2), th:nth-child(3) {
    border: none; 
    width: 5%;
    height: 5%;
    margin: 0%;
}

/*CSS para las imagenes de las tablas*/
th img{
    margin: 0%;
}

/*CSS para tablas con 2 datos*/
.tabla2 {
    margin-left: auto;
    margin-right: auto;
}

.tabla2 th{
    width: 5%;
    height: 5%;
    border: 1px solid black;
}

.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor p{
    margin: 0%;
}

.input{
    margin-bottom: 1.5vh;
}